*{
    padding: 0;
    margin: 0;
}

body{
    background: white;
    background-size: 100%;
    background-position-y: top;
    
}

.navbar{
    height: 80px;
    font-size: 1em;
}

.imagen{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    opacity: 0.6;
}

.side{
    margin-top: 10px;
}
.foot{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    background-color: gray;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.mini-card-img-top{
    height: 80px;
}